<table id="example1" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th style="width: 20%;">Hari/Tanggal</th>
      <th style="width: 70%;">Kegiatan Magang</th>
      <th style="width: 10%;">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Senin, 4 Agustus 2024</td>
      <td>
        <h6 class="font-weight-bold">Nama Aktifitas</h6>
        <p class="font-weight-normal">Deskripsi Aktifitas yang dilakukan</p>
      </td>
      <td>
        ACC
      </td>
    </tr>
    <tr>
      <td>Senin, 4 Agustus 2024</td>
      <td>
        <h6 class="font-weight-bold">Nama Aktifitas</h6>
        <p class="font-weight-normal">Deskripsi Aktifitas yang dilakukan</p>
      </td>
      <td>
        ACC
      </td>
    </tr>
    <tr>
      <td>Senin, 4 Agustus 2024</td>
      <td>
        <h6 class="font-weight-bold">Nama Aktifitas</h6>
        <p class="font-weight-normal">Deskripsi Aktifitas yang dilakukan</p>
      </td>
      <td>
        ACC
      </td>
    </tr>
    <tr>
      <td>Senin, 4 Agustus 2024</td>
      <td>
        <h6 class="font-weight-bold">Nama Aktifitas</h6>
        <p class="font-weight-normal">Deskripsi Aktifitas yang dilakukan</p>
      </td>
      <td>
        ACC
      </td>
    </tr>
  </tbody>
</table>