<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sertifikat</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=League+Gothic&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <section class="certificate-wrapper">
    <section class="certificate first-page">
      <div class="certificate-header">
        <div class="img-logo-pemko">
          <img src="/images/logo.png" alt="logo pemko" class="logo">
        </div>
        <div class="title-header">
          <h3 class="title-header-text">
            <span>PEMERINTAH KOTA BANJARBARU</span>
            <br>
            DINAS KOMUNIKASI DAN INFORMATIKA
          </h3>
        </div>
      </div>
      <div class="certificate-number">
        <h2 class="certificate-number-title league-gothic">SERTIFIKAT</h2>
        <p>Nomor: <span id="certif-number">13/11/INFO/SRT/2024</span></p>
      </div>
      <div class="certificate-name">
        <p class="certificate-name-title">DIBERIKAN KEPADA</p>
        <h1 id="certif-name" class="league-gothic">Muhammad Fajar Razatillah</h1>
      </div>
      <div class="certificate-description">
        <p>
          Telah mengikuti Praktik Kerja Lapangan (PKL) selama <span id="duration-desc">2 bulan</span><br>
          Dari tanggal <span id="start-date-desc">8 November 2024</span> sampai dengan <span id="end-date-desc">15 November 2024</span><br>
          Di <strong>Dinas Komunikasi dan Informatika Kota Banjarbaru</strong> <br>
          dengan hasil <strong>Sangat Baik</strong>
        </p>
      </div>
      <div class="certificate-footer">
        <div class="certificate-sign-top">
          <p id="publish-date">Banjarbaru, 1 Desember 2024</p>
          <p>Kepala Dinas Komunikasi dan Informatika</p>
          <p>Kota Banjarbaru</p>
        </div>
        <div class="certificate-sign-down">
          <p id="pembina-name">Muhammad Ikhwan, M.M</p>
          <p>Pembina Tk.I</p>
          <p>NIP. <span id="pembina-nip">20001121 202202 1 079</span></p>
        </div>
        <div class="certificate-qrcode" id="certificate-qrcode"></div>
      </div>
    </section>
    <section class="certificate second-page">
      <div class="certificate-header">
        <div class="d-grid">
          <span>Nama</span>
          <span>:</span>
          <span id="certif-name">Muhammad Fajar Razatillah</span>
        </div>
        <div class="d-grid">
          <span>Jurusan</span>
          <span>:</span>
          <span id="major">Sistem Informasi</span>
        </div>
      </div>
      <div class="certificate-table-evaluation">
        <table>
          <thead>
            <tr>
              <th rowspan="2" class="table-number" scope="col">No</th>
              <th rowspan="2" class="table-component" scope="col">Komponen Yang Dinilai</th>
              <th colspan="2">Nilai</th>
            </tr> 
            <tr>
              <th>Angka</th>
              <th>Huruf</th>
            </tr>
          </thead>
          <tbody>
            <tr class="title-category">
              <td></td>
              <td>A. Keahlian Teknis</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td scope="row" class="table-number-items">1</td>
              <td class="component-title">Pengenalan Surat Masuk ke Aplikasi Simaya</td>
              <td>85</td>
              <td>B</td>
            </tr>
            <tr>
              <td scope="row">2</td>
              <td class="component-title">Menginput Surat Masuk ke Aplikasi Simaya</td>
              <td>85</td>
              <td>B</td>
            </tr>
            <tr>
              <td scope="row">3</td>
              <td class="component-title">Menginput Surat Keluar Manual</td>
              <td>85</td>
              <td>B</td>
            </tr>
            <tr>
              <td scope="row">4</td>
              <td class="component-title">Memilah Surat Masuk sesuai Disposisi Kepala Dinas</td>
              <td>85</td>
              <td>B</td>
            </tr>
            <tr class="total">
              <td scope="row"></td>
              <td class="total-title">Jumlah</td>
              <td>85</td>
              <td>B</td>
            </tr>
            <tr class="title-category">
              <td></td>
              <td>A. Keahlian Non-Teknis</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td scope="row" class="table-number-items">1</td>
              <td class="component-title">Disiplin Waktu</td>
              <td>85</td>
              <td>B</td>
            </tr>
            <tr>
              <td scope="row">2</td>
              <td class="component-title">Kemauan Kerja & Motivasi</td>
              <td>85</td>
              <td>B</td>
            </tr>
            <tr>
              <td scope="row">3</td>
              <td class="component-title">Kualitas Kerja</td>
              <td>85</td>
              <td>B</td>
            </tr>
            <tr>
              <td scope="row">4</td>
              <td class="component-title">Inisiatif & Kreativitas</td>
              <td>85</td>
              <td>B</td>
            </tr>
            <tr>
              <td scope="row">4</td>
              <td class="component-title">Perilaku</td>
              <td>85</td>
              <td>B</td>
            </tr>
            <tr class="total">
              <td scope="row"></td>
              <td class="total-title">Jumlah</td>
              <td>85</td>
              <td>B</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </section>
</body>
</html>