<table id="example2" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nama Lengkap</th>
      <th>NIS/NIM</th>
      <th>Asal Sekolah</th>
      <th>Jurusan</th>
      <th>status</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nama Lengkap</td>
      <td>NIS/NIM</td>
      <td>Asal Sekolah</td>
      <td>Jurusan</td>
      <td>status</td>
      <td>
        <form action="/pegumpeg/status/?_method=PUT" method="POST" style="display: inline-block;">
          <button class="btn btn-primary btn-sm">
            Done
          </button>
        </form>
        <a href="/pegumpeg/detail/" class="btn btn-default btn-sm ml-2">
          <i class="fas fa-pencil-alt"></i>
          Detail
        </a>
      </td>
    </tr>
  </tbody>
</table>